{% extends 'base.html.twig' %}

{% block title %}My Shopping Cart{% endblock %}

{% block body %}

    Products in Cart:&nbsp<span class="h5">{{ products|length }}</span>
    Total quantity:&nbsp<span class="h5">{{ totalQuantity }}</span>
    Total cost:&nbsp<span class="h5">{{ totalPrice | money_convert(reference_currency) | money_format }}</span>

    {% if products|length > 0 %}
    <hr>
    <a href="{{ path('payment') }}" class="btn btn-success"><i class="fa fa-shopping-cart mx-1"></i>Buy now</a>
    {% endif %}
    <hr>

    {% if products|length > 0 %}
        {% for row in products|batch(4) %}
            <div class="row">
                {% for item in row %}
                    <div class="col-md-3">
                        <div class="card" style="width: 14rem;">
                            <img class="card-img-top" src="{{ vich_uploader_asset(item.product, 'imageFile') }}" alt="{{ item.product.title }}" />
                            <div class="card-body">
                                <h5 class="card-title">{{ item.product.title }}</h5>

                                <label for="quantity" class="sr-only">Quantity:</label>
                                <div class="input-group mb-2 mr-sm-2">
                                    <form action="{{ path("dec_quantity", { 'id': item.id }) }}" method="post">
                                        <input type="hidden" name="token" value="{{ csrf_token('dec-quantity') }}" />
                                        <div class="input-group-prepend">
                                            <button class="btn input-group-btn btn-outline-secondary" type="submit">−</button>
                                        </div>
                                    </form>
                                    <input type="number" name="quantity" value="{{ item.quantity }}" disabled class="form-control text-center">
                                    <form action="{{ path("inc_quantity", { 'id': item.id }) }}" method="post">
                                        <input type="hidden" name="token" value="{{ csrf_token('inc-quantity') }}" />
                                        <div class="input-group-append">
                                            <button class="btn input-group-btn btn-outline-secondary" type="submit">+</button>
                                        </div>
                                    </form>
                                </div>

                                <h5>
                                {% if item.cost != item.product.price %}
                                    <small class="text-muted">{{ item.product.price | money_convert(reference_currency) | money_format }}&nbsp/&nbsp</small>
                                {% endif %}
                                {{ item.cost | money_convert(reference_currency) | money_format }}
                                </h5>

                                <a href="{{ path('product_show', {'id': item.product.id }) }}" class="btn btn-outline-secondary mx-1">Show Info</a>
                                <form action="{{ path('remove_item', {'id': item.id}) }}" method="post">
                                    <input type="hidden" name="token" value="{{ csrf_token('remove-item') }}">
                                    <button type="submit" class="btn btn-primary mx-1">Remove</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        <div class="jumbotron">
            <h5 class="display-4">Shopping Cart is empty!</h5>
            <hr class="my-4">
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{{ path('product_list') }}" role="button">Go Back</a>
            </p>
        </div>
    {% endif %}

{% endblock %}