{% extends 'base.html.twig' %}

{% block title %}My Shopping History{% endblock %}

{% block body %}

    {% if orders|length > 0 %}
    {% for order in orders %}
        <div class="card mb-2 {% if order.confirmed == true %} border-secondary text-muted {% else %} border-info {% endif %}">
        <div class="card-header">
            <h4>
                Order #{{ order.id }}
                {% if order.confirmed == true %}
                <span class="badge badge-success">confirmed</span>
                {% else %}
                <span class="badge badge-warning">in process...</span>
                {% endif %}
            </h4>
            <ul>
                <li>{{ order.createAt|date('Y-m-d') }}</li>
                <li>Total price: {{ order.getChargePrice | money_convert(reference_currency) | money_format }}</li>
                <li>
                    Payment:
                    {% if order.chargeId is not null %}
                        &nbsp;<i class="fa fa-check-circle"></i><br>
                        Charge ID: <span class="text-monospace">{{ order.chargeId }}</span>
                    {% else %}
                        waiting for payment...
                    {% endif %}
                </li>
            </ul>
        </div>
        <div class="card-body">
        <div class="card-text">
        {% for row in order.cartitems|batch(4) %}
            <div class="row">
            {% for item in row %}
                <div class="col-md-3">
                <h6>{{ item.product.title }}</h6>
                <ul>
                    <li>{{ item.product.price | money_convert(reference_currency) | money_format }} x {{ item.quantity }}</li>
                    <li>{{ item.cost | money_convert(reference_currency) | money_format }}</li>
                </ul>
                </div>
            {% endfor %}
            </div>
        {% endfor %}
        </div>
        </div>
        </div>
    {% endfor %}
    {% else %}
        <div class="jumbotron">
            <h5 class="display-4">Shopping history is empty!</h5>
            <hr class="my-4">
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{{ path('product_list') }}" role="button">Go Back</a>
            </p>
        </div>
    {% endif %}

{% endblock %}