{% extends 'base.html.twig' %}

{% block title %}Confirm order{% endblock %}

{% block body %}

    Total cost:&nbsp<span class="h5">{{ totalPrice | money_convert(reference_currency) | money_format }}</span>
    <hr>

    <script src="https://js.stripe.com/v3/"></script>
    <form action="{{ path("buy") }}" method="post" id="payment-form">
        <input type="hidden" name="token" value="{{ csrf_token('buy') }}" />
        <div class="form-row">
            <div class="input-group">
                <input type="number" name="amount" class="form-control" value="{{ amount/100 | number_format(2) }}" disabled>

                <select name="currency" class="form-control" disabled>
                    <option value="eur" selected>EUR</option>
                    <option value="usd">USD</option>
                    <option value="rub">RUB</option>
                </select>
                <input type="text" name="description" class="form-control" placeholder="message" value="{{ description }}">
            </div>

            <label for="card-element">
                Credit or debit card
            </label>
            <div id="card-element" class="form-control"></div>
            <div id="card-errors" role="alert"></div>
        </div>

        <button type="submit" value="Make charge" name="charge">Charge</button>
    </form>

{% endblock %}

{% block stylesheets %}

    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/pay-form.css') }}">

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="{{ asset('js/pay-form.js') }}"></script>

{% endblock %}