{% extends '@EasyAdmin/default/list.html.twig' %}

{% block global_actions %}
    {{ parent() }}

    <div class="button-action">
        <form action="{{ path('csv_import') }}" method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="file" class="btn btn-file" accept=".csv">
            <button class="btn btn-primary" type="submit">
                <i class="fa fa-upload"></i>&nbsp
                Import from .csv
            </button>
        </form>
    </div>

    <div class="button-action">
        <a class="btn btn-primary" href="{{ path('csv_export') }}" target="_blank">
            <i class="fa fa-download"></i>&nbsp
            Download .csv
        </a>
    </div>
{% endblock %}