{% extends 'base.html.twig' %}

{% block title %}
    {% if active_category is defined %}
        Products (#{{ active_category.name }})
    {% else %}
        Products list
    {% endif %}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <form method="get" action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" class="pull-right">
                <div class="input-group">
                <label for="sort_by" class="label">Sort by&nbsp</label>
                <select name="sort_by" id="sort_by" class="select form-control">
                    {% for field in fields %}

                        <option value="{{ field }}"
                                {% if filters.sortBy == field %}
                                    selected
                                {% endif %}
                        >{{ field }}</option>

                    {% endfor %}
                </select>

                <label for="sort_dir" class="label">Sort direction</label>
                <select name="sort_dir" id="sort_dir" class="select form-control">
                    <option value="asc"
                            {% if filters.sortDir == "asc" %}
                                selected
                            {% endif %}
                    >&uarr;</option>
                    <option value="desc"
                            {% if filters.sortDir == "desc" %}
                                selected
                            {% endif %}
                    >&darr;</option>
                </select>

                <button type="submit" class="btn btn-secondary">Filter</button>
                </div>
            </form>
        </div>
    </div>

    {% if pagination.count > 0 %}
    {% for row in pagination|batch(4) %}
        <div class="row">
            {% for product in row %}
            <form action="{{ path('add_item', {'id': product.id}) }}" method="post" class="text-center">
                <input type="hidden" name="token" value="{{ csrf_token('add-item') }}">
                <div class="col-md-3">
                    <div class="card" style="width: 14rem;">
                        <img class="card-img-top" src="{{ vich_uploader_asset(product, 'imageFile') }}" alt="{{ product.title }}" />
                        <div class="card-body">
                            <h5 class="card-title">{{ product.title }}</h5>
                            <p class="card-text">{{ product.description|slice(0, 50) }}</p>
                            <h6 class="text-muted">{{ product.price | money_convert(reference_currency) | money_format }}</h6>

                            <input name="quantity" class="form-control text-center" type="number" min="1" max="100" step="1" value="1" maxlength="3">
                            <a href="{{ path('product_show', {'id': product.id }) }}" class="btn btn-outline-secondary mx-1">Show Info</a>&nbsp;
                            <button type="submit" class="btn btn-primary mx-1 {% if app.user is null %}disabled{% endif %}">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </form>
            {% endfor %}
        </div>
    {% endfor %}
        <div class="navigation">
            {{ knp_pagination_render(
                pagination, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig',
                {}, { 'rounded': true })
            }}
        </div>
    {% else %}
        <div class="jumbotron">
            <h5 class="display-4">Products list is empty!</h5>
        </div>
    {% endif %}

{% endblock %}

{% block aside %}
    <ul>
    {% for category in categories %}
        <a href="{{  path('category_product_list', { 'id': category.id }) }}"
           class="btn btn-link {% if active_category is defined and category.id == active_category.id %}text-muted disabled{% endif %}">
            {{ category.name }}&nbsp<span class="badge badge-secondary">{{ category.products_count }}</span>
        </a>
    {% endfor %}
    </ul>
{% endblock %}