{% extends 'base.html.twig' %}

{% block title %}Product details (#{{ product.id }}){% endblock %}

{% block body %}

    <div class="card" style="width: 32rem;">
        <img class="card-img-top" src="{{ vich_uploader_asset(product, 'imageFile') }}" alt="{{ product.title }}" />
        <div class="card-body">
            <h3 class="card-title">{{ product.title }}</h3>
            <p class="text-muted">{{ product.category }}</p>
            <p class="card-text">{{ product.description }}</p>
            <h5 class="text-dark">{{ product.price | money_convert(reference_currency) | money_format }}</h5>
            <a href="{{ path('product_list') }}" class="btn btn-outline-secondary">Back to List</a>
            <form action="{{ path('add_item', {'id': product.id}) }}" method="post">
                <input type="hidden" name="token" value="{{ csrf_token('add-item') }}">
                <button type="submit" class="btn btn-primary">Add to Cart</button>
            </form>
        </div>
    </div>

{% endblock %}
