<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ easyadmin_config('site_name') }}!{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% endblock %}
</head>
<body class="container-fluid">

<nav class="navbar navbar-expand-md">
    <a class="navbar-brand text-uppercase {{ easyadmin_config('site_name')|length > 14 ? 'logo-long' }}" title="{{ easyadmin_config('site_name')|striptags }}" href="{{ path('homepage') }}">
        {{ easyadmin_config('site_name')|raw }}
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
            <li><a href="{{ path("product_list") }}" class="btn btn-link">Products</a></li>
            {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path("easyadmin") }}" class="btn btn-link">Admin panel</a></li>
            {% endif %}
        </ul>

        <ul class="navbar-nav ml-auto">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li><a href="{{ path('fos_user_profile_show') }}" class="nav-link disabled">{{ app.user.username }}</a></li>
            <li><a href="{{ path('shopping_cart') }}" class="nav-link">My Cart</a></li>
            <li><a href="{{ path('shopping_history') }}" class="nav-link">Shopping History</a></li>
            <li><a href="{{ path('fos_user_security_logout') }}" class="nav-link">Logout</a></li>
            {% else %}
            <li><a class="nav-link" href="{{ path('fos_user_security_login') }}">Login</a></li>
            <li><a class="nav-link" href="{{ path('fos_user_registration_register') }}">Register</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<h3>{{ block('title') }}</h3>

<div class="alerts">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
</div>

<div class="main-content">
    {% block aside %}{% endblock %}
    {% block body %}{% endblock %}
</div>

{% block javascripts %}
{% endblock %}
</body>