{% extends 'base.html.twig' %}

{%  block body %}
<ul>
    <li><a href="{{ path('easyadmin') }}">admin</a></li>
    <li><a href="{{ path('fos_user_security_login') }}">login</a></li>
    <li><a href="{{ path('fos_user_registration_register') }}">register</a></li>
    <li><a href="{{ path('fos_user_resetting_request') }}">reset password</a></li>
</ul>
{% endblock %}